body {
	
  	background-attachment: fixed;
	background-image: url(../images/dimitry-b-Yr1-wDTJXj4-unsplash.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	min-width: 540px;
	padding: 0;
}
.input-group{
	justify-content: center;
}
.form-control{
	max-width: 400px;
}
.main-container {
  background-color: rgba(169, 212, 215, 0.7);
  margin: 40px 75px;
  padding: 40px;
  color: #030d48;
  font-family: "Montserrat";
}
.weather{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.weather-forecast-today{
	
}
.city {
	font-weight: 700;
  font-size: 60px;
  letter-spacing: 2px;
  margin: 0;
  padding: 20px 0;
  text-shadow: 1px 1px 2px #48484a;
}
.date, .time {
	font-size: 24px;
	font-weight: 600;
	text-transform: capitalize;
}
.temperature {
  display: flex;
  align-items: center;
  margin: 30px auto;
  font-weight: 700;
}
.units{
	position: relative;
	top: -17px;
	color: #101c62;
	font-weight: 600;
	font-size: 24px;
}
.units > a{
	text-decoration: none;
	color: #101c62;
	font-weight: 600;
	font-size: 24px;
}
.units > a:hover{
	color: #EC6E4C;
}

.main-image {
  width: 100px;
}
.degrees {
  font-size: 70px;
  margin: 0 20px 0 30px;
  text-shadow: 2px 5px 3px #48484a;
;
}
.other-inf {
  list-style: none;
  padding: 20px 0px;
  font-size: 20px;
  font-weight: 600;
  line-height: 36px;
}
.weather-forecast{
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}
.weather-forecast-block {
	display: flex;
	align-items: center;
	font-size: 20px;
	font-weight: 600;
	padding: 30px;
	transition: all 0.3s ease-out 0s;
}
.weather-forecast-block:hover{
  background-color: #48484a;
  opacity: 0.6;
  color: #ffffff;
}
.weather-forecast-day {
	margin: auto 20px;
	
}
.weather-forecast-date {
	margin: auto 20px;
	font-weight: 500;
	
}
.weather-forecast-temperatures {
	margin: auto 30px;
	
}
.weather-forecast-temperature-max {
	
}
.weather-forecast-temperature-min {
	
}

.description{
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 600;
}
.degrees-daily {
	font-size: 18px;
	letter-spacing: 1px;
}
.search{
	background-color: #EC6E4C !important;
	border: 1px solid #EC6E4C !important;
}
.current{
	background-color: #101c62 !important;
	border: 1px solid #101c62 !important;
	color: #ffffff !important;
}
.opencode{
	margin: 30px auto;
	text-decoration: none;
	text-align: center;
	color: #101c62;
	font-size: 16px;
	font-weight: 400;
}